.fps_container {
    height: 60px;
    width: 60px;
    position: relative;
}
.fps_container img {
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
}

.fps_container > .numbers {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 60px;
}

.fps_container p {
    margin: 0;
    text-align: right;
    font-weight:bold;
}